@{
    ViewBag.Title = "Contact Me";
}
<h2>@ViewBag.Title</h2>
@*<h3>@ViewBag.Message</h3>*@

<address>
    <strong>E-mail:</strong>   <a href="mailto:hwangi.kim@gmail.com">hwangi.kim@gmail.com</a><br />
    <strong>LinkedIn: </strong> <a href="https://www.linkedin.com/in/kevin-hwangi-kim-3161512a">www.linkedin.com/in/kevin-hwangi-kim-3161512a</a>
    
    
</address>